<div class="animate__animated animate__fadeIn animate__faster">
  <h2>By Capital</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-search-input
        (onEnter)="searchCountry($event)"
        placeholder="Search capital"
      >
      </app-search-input>
    </div>
  </div>

  <!-- <app-country-suggestions ></app-country-suggestions> -->

  <hr>
</div>

<div
  class="alert alert-danger"
  *ngIf="errorFlag"
>
  Nothing matches with {{ term }}
</div>

<div
  class="row"
  *ngIf="countries.length > 0"
>

  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>

</div>