<div class="animate__animated animate__fadeIn animate__faster">
  <h2>By Country</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-search-input placeholder="Search country"
        (onEnter)="searchCountry($event)"
        (onDebounce)="suggestions($event)">
      </app-search-input>
    </div>
  </div>

  <app-country-suggestions [term]="term"
    parent="by-country"
    *ngIf="showSuggestions && term !== ''"
    (onSearch)="searchCountry($event)"
    (onFlagChange)="suggestionFlagHandler($event)">
  </app-country-suggestions>

  <hr>
</div>

<div class="alert alert-danger"
  *ngIf="errorFlag">
  Nothing matches with {{ term }}
</div>

<div class="row"
  *ngIf="countries.length > 0">
  <div class="col">

    <app-country-table [countries]="countries"></app-country-table>

  </div>
</div>