<h3>Search by region -
  <small>{{activeRegion | titlecase}}</small>
</h3>

<h5>Select a region</h5>

<div class="row">
  <div class="col">

    <!-- //// FORMA 1 \\\\ -->
    <!-- <button
      *ngFor="let region of regions"
      class="btn btn-outline-secondary m-1"
      [class.btn-secondary]="region === activeRegion"
      (click)="activateRegion(region)"
      >
      {{region | titlecase}}
    </button> -->

    <!-- //// FORMA 2 \\\\ -->
    <!-- <button
      *ngFor="let region of regions"
      class="btn btn-outline-secondary m-1"
      [ngClass]="{
        'btn-secondary': region === activeRegion,
        'btn-outline-secondary': region !== activeRegion
      }"
      (click)="activateRegion(region)"
      >
      {{region | titlecase}}
    </button> -->

    <!-- //// FORMA 3 \\\\ -->
    <button
      *ngFor="let region of regions"
      class="btn m-1"
      [class]="getBtnClass(region)"
      (click)="activateRegion(region)"
    >
      {{region | titlecase}}
    </button>

  </div>
</div>

<div
  class="row"
  *ngIf="countries.length > 0"
>

  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>

</div>